<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="./js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./js/listingScripts.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body id="divResults">

<h1>Search for listings here</h1>

<p><a href="/">Back to user search</a></p>
	
<form method="post" action="" id="search_form">
	<input type="text" placeholder="Search listings" id="listingSearch" name="search">
	<input type="button" value="Search" onClick="searchListing()">
</form>
	
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">Key</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
<% if(data.length){

for(var i = 0;i < data.length;i++) { %>

<tr>
    <td><%=(i+1)%></td>
    <td><%=data[i].address%></td>
    <td><%=data[i].city%></td>
    <td><%=data[i].state%></td>
    <td><%=data[i].zip_code%></td>

    </td>
</tr>
        <% }

        }else{ %>
        <tr>
            <td colspan="5">No Data</td>
        </tr>
        <% } %>

    </table>
</div>

</body>
</html>
